<h1 class="m-3"><%= "#{@service.title} service by #{@service.user.username}" %></h1>

<div data-controller="change-price">
  <div class="m-3">
    <p><%= "Description: #{@service.description}" %></p>
    <p>Price:<span data-change-price-target="price" data-price="<%= @service.price %>"><%= @service.price %></span>€</p>
    <p><%= "Address: #{@service.address}" %></p>
  </div>

  <% if policy(Booking).new? %>
    <h2 class="ml-3 mt-5">Book service:</h2>

    <%= simple_form_for [@service, @booking], html: { class: "m-3" } do |f| %>
      <%= f.input :start_date,
                  as: :string,
                  input_html: { id: "range_start",
                                class: "datepicker",
                                data: { change_price_target: "startDate",
                                        action: "change->change-price#update" } } %>
      <%= f.input :end_date,
                  as: :string,
                  input_html: { id: "range_end",
                                class: "datepicker" } %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>

<% if policy(@service).update? %>
  <%= link_to "Edit service", edit_service_path(@service), class: "btn btn-secondary ml-3" %>
<% end %>

<% if policy(@service).destroy? %>
  <%= link_to "Destroy service", service_path(@service), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
<% end %>

<div class="ml-3 d-flex flex-wrap">
  <% @service.reviews.each do |review| %>
    <%= render "reviews/partials/card_review", review: review %>
  <% end %>
</div>
