<%= link_to service_path(service), class: "card-service" do %>
  <%= render "components/carousel", service: service %>

  <div class="card-service__infos">
    <h2><%= service.title %></h2>
    <p><%= "Description: #{service.description}" %></p>
    <p><%= "Price: #{service.price}" %></p>
    <p><%= "Address: #{service.address}" %></p>
  </div>
<% end %>
