<div id="booking-<%= booking.id %>" class="card-booking">
  <%= link_to booking.service.title, service_path(booking.service) %>

  <% if booking.end_date > Date.today %>
    <p><%= "Start: #{booking.start_date.strftime("%a, %d %b %Y at %l:%M%p")}" %>
    <p><%= "End: #{booking.end_date.strftime("%a, %d %b %Y at %l:%M%p")}" %></p>
  <% else %>
    <p>Booking past</p>
  <% end %>

  <p><%= "From: #{booking.user.username}" %></p>
  <p><%= "Status: #{booking.status}" %></p>

  <% if policy(booking).update? && booking.status_pending? %>
    <%= link_to "Accept", booking_path(booking, status: "accepted"), method: :patch, class: "btn btn-success mb-4" %>
    <%= link_to "Decline", booking_path(booking, status: "declined"), method: :patch, class: "btn btn-danger mb-4" %>
  <% end %>

  <% if policy(booking).destroy? %>
    <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning" %>
  <% end %>

  <% if policy(Review).new? %>
    <%= link_to "New review", new_booking_review_path(booking, @review) %>
  <% end %>
</div>
